body{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}

html {
	scroll-behavior: smooth;
  }

.bg-nav{
	background:#c23616;
}

.anton{
	font-family: 'Anton', sans-serif;
	font-size:30px;
}

.title{
	font-family: 'Oswald', sans-serif;
}

.p-6{
	padding:100px;
}

.linea{
	padding:0.3px;
}

.violet{
	color:#c23616;
}

.bg-violet{
	background:#c23616;
}

/*	Nav	*/
.nav-link{
	transition: transform 0.2s;
}

.nav-link:hover{
	transform: scale(1.2);
	font-weight: bold;
}


/*	Header	*/

header{
	width:100%;
	background-size:cover;
	background-repeat:no-repeat;
	background-position: center center;
	background-attachment: fixed;
	height:500px;
	padding:50px;
}

.header{
	
}

/*	sobre mi	*/

.aboutme{
	margin:0;
}

.row{
	margin-left:0!important;
	margin-right:0!important;
}

